<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I've got what you need!</h2>
                <hr class="light">

                <iframe src="http://docs.google.com/gview?url=https://raw.githubusercontent.com/spencer-shadley/Resume/master/Resume.pdf&embedded=true" style="width:100%; height:400px;" frameborder="0"></iframe>

                    <script type="text/javascript" src="pdfobject.js"></script>
                    <script type="text/javascript">
                      window.onload = function (){
                        var success = new PDFObject({ url: "sample.pdf" }).embed();
                      };
                    </script>

                <p class="text-faded">Lorem ipsum. Some more stuff about me will go here.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
