<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I've got what you need!</h2>
                <hr class="light">


                
                <object data="https://github.com/spencer-shadley/Resume/raw/master/Resume.pdf" type="application/pdf" width="50%" height="50%">
                    <p>Alternative text - include a link <a href="https://github.com/spencer-shadley/Resume/raw/master/Resume.pdf">to the PDF!</a></p>
                </object>
                <!--
                <iframe src="http://docs.google.com/gview?url=https://github.com/spencer-shadley/Resume/raw/master/Resume.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>

                <embed src="https://github.com/spencer-shadley/Resume/raw/master/Resume.pdf" width="500" height="375" type='application/pdf'>
                -->

                <p class="text-faded">Lorem ipsum. Some more stuff about me will go here.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
