<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Spencer Shadley</h1>
            <hr>
            <style>



            </style>
            <table style="width:100%">
            
                <tr>

                    <td style="margin:0; padding:0;">
                        <p id="messages"><br></p>
                    </td>

                    <td style="margin:0; padding:0;">
                        <p>|</p>
                    </td>

                </tr>

            </table>
            
           
            <a href="#about" class="btn btn-primary btn-xl page-scroll">See More</a>
        </div>
    </div>
</header>
