
<style>
    #messages {
        animation: blink-empty 2s infinite;
        border-right: transparent solid 1px;
        border-right-width: 4px;
    }

    @keyframes blink-empty {
        50% {
            border-right: 1px solid #fff;
            border-right-width: 4px;
        }
    }
</style>


<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Spencer Shadley</h1>
            <hr>
            <p id="messages" style="display: inline-block;"></p>
            <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">See More</a>
        </div>
    </div>
</header>
