<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/mapp.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name wow slideInDown">
                                MApp
                            </div>
                            <div class="project-category text-faded">
                                Course to teach Mobile Application Development
                            </div>
                            <br>
                            <br>
                            <div class="row text-center row-centered">

                                <a href="https://github.com/spencer-shadley?tab=repositories" class="col-lg-4 col-sm-12 btn-project btn-default btn-xl" target="_blank">Website</a>
                                <a href="https://github.com/spencer-shadley?tab=repositories" class="col-lg-4 col-sm-12 btn-project btn-default btn-xl" target="_blank">Android App</a>
                                <a href="https://github.com/spencer-shadley?tab=repositories" class="col-lg-4 col-sm-12 btn-project btn-default btn-xl" target="_blank">GitHub</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


           





            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/pasciler.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pascal Compiler (from source to executable x86 assembly)
                            </div>
                            <div class="project-name">
                                Pasciler
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/pintos.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pint-sized Operating System
                            </div>
                            <div class="project-name">
                                PintOS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/scanmycode.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hackathon project - Android app to scan hand-written text and see output/compile errors on-device
                            </div>
                            <div class="project-name">
                                Scan my Code!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/funnyhistoryquotes.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Memoire to my history teacher
                            </div>
                            <div class="project-name">
                                Funny History Quotes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/roomutopia.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                (In progress) Android app to find nearest available classroom
                            </div>
                            <div class="project-name">
                                Room UTopia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
