<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">

            <!-- MApp -->
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/mapp.png" class="img-responsive" alt="MApp Development">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="row project-text">
                                <div class="project-name">
                                    Personal Project
                                </div>
                                <div class="project-category text-faded">
                                    Course to teach Mobile Application Development
                                </div>
                            </div>
                            <div class="project-buttons row text-center row-centered">
                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                                    <a href="http://mapp-develop.appspot.com" class="btn-project btn-default btn-xl" target="_blank">
                                        Website
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                                    <a href="https://play.google.com/store/apps/details?id=com.feztheforeigner.mobileapps" class="btn-project btn-default btn-xl" target="_blank">
                                        Android App
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                                    <a href="https://github.com/spencer-shadley/mobile_dev_website" class="btn-project btn-default btn-xl" target="_blank">
                                        GitHub
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pasciler -->
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pasciler.png" class="img-responsive" alt="Pasciler">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="row project-text">
                                <div class="project-name">
                                    School Project
                                </div>
                                <div class="project-category text-faded">
                                    Pascal Compiler<br>Source to executable x86 assembly
                                </div>
                            </div>
                            <div class="project-buttons row text-center row-centered">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <a href="https://www.cs.utexas.edu/users/novak/cs375.html" class="btn-project btn-default btn-xl" target="_blank">
                                        Course Description
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <a href="https://github.com/spencer-shadley/Compilers" class="btn-project btn-default btn-xl" target="_blank">
                                        GitHub
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PintOS -->
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pintos.png" class="img-responsive" alt="PintOS">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">

                            <div class="row project-text">
                                <div class="project-name">
                                    School Project
                                </div>
                                <div class="project-category text-faded">
                                    Pint-sized Operating System
                                </div>
                            </div>

                            <div class="project-buttons row text-center row-centered">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <a href="https://www.cs.utexas.edu/users/ans/classes/cs439/projects/pintos/WWW/pintos_1.html" class="btn-project btn-default btn-xl" target="_blank">
                                        Course Description
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <a href="https://github.com/spencer-shadley/PintOS" class="btn-project btn-default btn-xl" target="_blank">
                                        GitHub
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- Scan my Code! -->
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/scanmycode.png" class="img-responsive" alt="Scan my Code!">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">


                            <div class="row project-text">
                                <div class="project-category text-faded">
                                    Hackathon project - Android app to scan hand-written text and see output/compile errors on-device
                                </div>
                                <div class="project-name">
                                    Scan my Code!
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <!-- Funny History Quotes -->
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/funnyhistoryquotes.png" class="img-responsive" alt="Funny History Quotes">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">


                            <div class="row project-text">
                                <div class="project-category text-faded">
                                    Memoire to my history teacher
                                </div>
                                <div class="project-name">
                                    Funny History Quotes
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>

            <!-- Room UTopia -->
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/roomutopia.png" class="img-responsive" alt="Room UTopia">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">


                            <div class="row project-text">
                                <div class="project-category text-faded">
                                    (In progress) Android app to find nearest available classroom
                                </div>
                                <div class="project-name">
                                    Room UTopia
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
