<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Little About Me</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <span id="interests-image" class="fa fa-4x icon-sharingan wow rotateIn text-primary egg" data-wow-delay=".2s"></span>
                    <h3>Interests</h3>
                    <p class="text-muted">I enjoy anime, spicy food and Rocket League</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow fadeIn pulse text-primary" data-wow-delay="0.7s"></i>
                    <h3>Creative</h3>
                    <p class="text-muted">Can you find the ten <div style="color: palegreen;">Easter Eggs</div> on this site?</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i id="details-image" class="fa fa-4x fa-check wow lightSpeedIn text-primary egg" data-wow-delay="1.2s"></i>
                    <h3>The Little Details</h3>
                    <p class="text-muted">I even support IE on this website <nobr>＼(>o&lt;)ノ</nobr> </p>
                </div>
            </div>
        </div>
    </div>
</section>
