<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                    <h3>Educated</h3>
                    <p class="text-muted">I attend The University of Texas at Austin.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Creative</h3>
                    <p class="text-muted">I like to think outside the cube!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Passion for Code</h3>
                    <p class="text-muted">Love to code even in my free time (like this website)!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>The Little Details</h3>
                    <p class="text-muted">I even support IE on this website :O &surprised &#x1F62F </p>
                </div>
            </div>
        </div>
    </div>
</section>
