<link rel="stylesheet" href="css/timeline.css">

<section id="timeline">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading light">Timeline</h2>
                <hr class="light">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <ul class="timeline">

                    <li class="">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/favicon.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2011 - Today</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Founder and CEO of Android > Apple</p>
                                <p>Primarily build Android applications<br>
                                    (<a href="https://play.google.com/store/apps/developer?id=Android%3EApple">Play Store</a>, 
                                    <a href="http://www.amazon.com/s/ref=bl_sr_mobile-apps?_encoding=UTF8&field-brandtextbin=Android%3EApple&node=2350149011">Amazon AppStore</a>, 
                                    <a href="http://www.barnesandnoble.com/s/%22Apps%20for%20Nook%22?Ntk=P_key_Contributor_List&Ns=P_Sales_Rank&Ntx=mode+matchall">Nook Apps</a>)
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/companies/homeaway.png" alt="HomeAway logo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Summer 2016</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Software Development Intern at HomeAway</p>
                            </div>
                        </div>
                    </li>

                    <li class="">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/companies/paypal.png" alt="PayPal logo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Summer 2015</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Architect Intern at PayPal</p>
                                <p>Built a collaborative architecture UML tool as well as a web app</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/companies/ibm.png" alt="IBM logo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Summer 2014</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Software Development Intern at IBM</p>
                                <p>Built my first web app with a SCRUM team</p>
                            </div>
                        </div>
                    </li>

                    <li class="">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/companies/gisd.png" alt="GISD logo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Summers of 2012 and 2013</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Course Author and Advisor at Garland Independent School District</p>
                                <p>Wrote an Android development course</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/msharingan.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>